@import "tailwindcss";
@theme
{
    --color-bgprimary: black; 
    --color-bgsecondary: grey; 

    --color-borderprimary: grey; 
    --color-primary: purple;
    --color-accent: green; 

}

html 
{
    display: flex;
    color: white; 
}

* 
{
    /* padding: 0px; 
    margin: 0px;  */
    box-sizing: border-box;
}

